#Technologies h2{
    font-weight: normal;
}

@media (min-width: 1600px){
    iframe{
        width: 560px;
        height: 315px;
    }
}

@media (max-width: 1200px){
    iframe{
        width: 373px;
        height: 210px;
    }
}

@media (max-width: 576px){
    iframe{
        width: 290px;
        height: 162px;
    }
}


@media (max-width: 576px){
    iframe{
        width: 290px;
        height: 162px;
    }
}



#Name {
    animation: gradient2 10s ease infinite;
}

#Title{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
    color: white;
}

#particles-js{
    height: 100vh;
    animation: fadeIn 5s;
    background-color: rgba(0,0,0,0);
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#Footer{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: white;
}


.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    50% {
        opacity: 1;
        transform: translate(0);
    }
    100% {
        opacity: 2;
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    50% {
        opacity: 1;
        transform: translate(0);
    }
    100% {
        opacity: 2;
        transform: translate(0);
    }
}
/* The gradient background was made by Manuel Pinto and taken from: https://codepen.io/P1N2O/pen/pyBNzX */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


@keyframes gradient2 {
    0%   {color:#e73c7e;}
    45%  {color:#23a6d5;}
    55%  {color:#23a6d5;}
    100%  {color:#e73c7e;}
}
.btn-bd-primary {
    --bs-btn-border-color: black;
    --bs-btn-hover-border-color: black;
    --bs-btn-hover-border-bg: black;
    --bs-btn-active-border-color: black;
}


html{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


canvas{
    display:block;
    vertical-align:bottom;
}

.titletext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.titletext h1{
    font-size: 5rem;
}

.titletext p{
    font-size: 2rem;
}


